RewriteEngine On

# Comment out RewriteBase if public folder is DocumentRoot
RewriteBase /basicphp/sample-site/public/

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-l

RewriteRule ^(.+)$ index.php/$1 [QSA,L]

# Allow HTTP Authorization Bearer
RewriteCond %{HTTP:Authorization} ^(.*)
RewriteRule .* - [e=HTTP_AUTHORIZATION:%1]
