RewriteEngine On
# Set RewriteBase to / if public folder is DocumentRoot
RewriteBase /basicphp/public/
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.+)$ index.php [QSA,L]
